rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows anyone to read and write to any document in your database.
    // It is insecure and should be replaced with more restrictive rules
    // once you have user authentication implemented.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
